data
*.txt
*.npy
*.pyc
*.jsonl
*.csv
.DS_Store
__pycache__/
devices/plugin_loader.py
*.h5
config/default_devices_lab.json
experiments/big range.json
experiments/demo.json
experiments/stage_volt.json
.vscode/launch.json
experiments/0.2x0.4scan.json
.vscode/launch.json
config/default_devices_stageonly copy.json
experiments/0.2x0.4scan.json
dist/
build/
*.egg-info/

MicroscopeController.spec
install.sh
data\

.vscode/launch_lab.json
config/default_devices_lab_firmware2 - Copy_testResistance.json
config/default_devices_lab_firmware2 - Copy.json
config/default_devices_lab_firmware2 - mmscale.json
config/default_devices_lab_firmware2.json
config/devices_I_lab_mmscale.json
config/devices_II_lab_mmscale.json
experiments/0.2x0.4scan copy.json
experiments/2d_grid_5mm.json
experiments/4mmx2mm_3channel.json
experiments/range-5mm.json
experiments/stage_blink.json
experiments/xaxis_backandforth.json
*.json